html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Source Code Pro";
  font-size: 16px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

button {
  background-color: #B1040E;
  color: #ffffff;
  padding: 15px 120px;
  font-size: 22px;
  transition: all 0.5s ease;
}
button:hover {
  background-color: rgb(127.1270718232, 2.8729281768, 10.0552486188);
}

.card__img {
  display: inline-block;
  position: relative;
  width: 588px;
  height: 340px;
  overflow: hidden;
  width: calc(50% - 45px);
  margin-left: 25px;
  padding: 0;
  cursor: pointer;
}
.card__img .card__img--header img {
  position: absolute;
  transition: all 0.5s ease;
}
.card__img .card__img--header .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.726) 10%, rgba(0, 0, 0, 0) 30%);
  width: 100%;
  height: 300px;
  z-index: 1;
}
.card__img .card__content {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 25px 20px;
  z-index: 2;
}
.card__img .card__content p {
  position: relative;
  top: 10px;
  left: 3px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.card__img .card__content h3 {
  color: white;
  font-size: 26px;
  transition: all 0.5s ease;
}
.card__img:hover img, .card__img:hover p, .card__img:hover h3 {
  transform: scale(1.01);
}

.card {
  display: inline-block;
  position: relative;
  height: 340px;
  width: calc(25% - 37.5px);
  margin-left: 25px;
  margin-bottom: 25px;
  color: black;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.15);
}
.card .card__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card .card__image:hover {
  transform: scale(1.01);
}
.card .card__image:hover + .card__info h5 {
  color: #00548f;
}
.card .card__info {
  position: absolute;
  bottom: 0;
  padding: 25px;
}
.card .card__info h3 {
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
  color: #B1040E;
  margin-bottom: 10px;
}
.card .card__info h5 {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card .card__info h5:hover {
  color: #00548f;
}
.card:hover {
  box-shadow: -3px 3px 3px 2px rgba(0, 0, 0, 0.15), 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
}
.card:hover .card__image {
  position: absolute;
  transition: all 0.5s ease;
}
.card:hover .card__image img {
  transition: all 0.5s ease;
  transform: scale(1.01);
}

.card__no-hover {
  width: calc(33.3333333333% - 25px);
  box-sizing: inherit;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card__no-hover .no-hover--info {
  text-align: left;
}
.card__no-hover .no-hover--info h3 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.5px;
}
.card__no-hover .no-hover--info p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
}
.card__no-hover .no-hover--info span {
  transition: all 0.5s ease;
}
.card__no-hover .no-hover--info span a {
  color: #006cb8;
  font-size: 18px;
  font-weight: 500;
}
.card__no-hover .no-hover--info span i {
  font-size: 12px;
  color: #006cb8;
  margin-left: 2px;
  transition: all 0.5s ease;
}
.card__no-hover .no-hover--info span:hover a {
  text-decoration: underline;
}
.card__no-hover .no-hover--info span:hover i {
  margin-left: 5px;
}
.card__no-hover:last-child {
  margin-right: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.header {
  display: block;
  position: relative;
}
.header .header__image {
  background-image: url("/image/Hero-3-2-2048x1362.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: 1;
}
.header .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .container .stanford__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header .container .stanford__center .stanford {
  font-size: 130px;
  font-weight: normal;
  position: relative;
  margin-left: -15px;
  color: white;
}
.header .container .stanford__center .explore-stanford {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #B1040E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .stanford__center .explore-stanford .explore {
  padding: 10px 0;
  font-size: 23px;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.3s ease;
}
.header .container .stanford__center .explore-stanford .explore:hover + i {
  position: relative;
  top: 2px;
}
.header .container .stanford__center .explore-stanford i {
  z-index: 2;
  background-color: transparent;
  color: #ffffff;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.navigation {
  color: white;
  flex-direction: column;
  position: sticky;
  top: -1px;
  z-index: 10;
}
.navigation--top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), #000);
  position: relative;
  left: -30px;
  width: 100vw;
  padding-right: 30px;
}
.navigation--top .top--left a {
  font-size: 26px;
  padding-left: 30px;
}
.navigation--top .top--center {
  font-size: 18px;
  margin-left: auto;
  margin-right: 20px;
}
.navigation--top .top--right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation--top .top--right .navigation__items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navigation--top .top--right .navigation__items .navigation__item {
  position: relative;
  padding: 15px 12px;
  cursor: pointer;
}
.navigation--top .top--right .navigation__items .navigation__item::after {
  content: "";
  position: absolute;
  top: -1px;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: white;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.navigation--top .top--right .navigation__items .navigation__item a {
  font-size: 16px;
}
.navigation--top .top--right .navigation__items .navigation__item:hover::after {
  transform: scale(1);
}
.navigation--top .top--right .search {
  position: relative;
  right: -15px;
  margin-left: 10px;
  margin-right: 0;
  padding: 15px 20px;
  cursor: pointer;
}
.navigation--top .top--right .search i {
  margin-right: 5px;
  font-size: 17px;
}
.navigation--top .top--right .search span {
  font-size: 19px;
}
.navigation--top .top--right .search:hover {
  background-color: #B1040E;
}
.navigation__bottom {
  position: relative;
  margin-left: -30px;
  padding-left: 5px;
  width: 100vw;
  height: 145px;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.683)), linear-gradient(0deg, transparent 20%, rgba(0, 0, 0, 0.32));
}
.navigation__bottom .center--items {
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__bottom .center--items .center--item {
  position: relative;
  margin-right: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.navigation__bottom .center--items .center--item::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  left: 0;
  background-color: white;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.navigation__bottom .center--items .center--item:hover::after {
  transform: scale(1);
}
.navigation__bottom .center--items .center--item .center--link {
  font-size: 23px;
  font-weight: 600;
  color: white;
}

.at-stanford {
  margin-top: 50px;
  color: black;
  text-align: center;
  padding: 0 30px;
}
.at-stanford h2 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 50px;
}
.at-stanford p {
  font-size: 42px;
  font-weight: 300;
  color: rgb(89.25, 89.25, 89.25);
  line-height: 47px;
  margin-bottom: 50px;
}

.compus-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 150px;
  position: relative;
  color: #000000;
}
.compus-news h2 {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}
.compus-news p {
  font-size: 30px;
  margin-bottom: 60px;
}
.compus-news .cards {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.compus-news .button {
  margin-top: 30px;
}

.academics {
  margin-top: 130px;
  padding: 0 30px;
  text-align: center;
}
.academics .academic {
  text-align: center;
}
.academics .academic h2 {
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
}
.academics .academic p {
  font-size: 30px;
  margin-bottom: 60px;
}
.academics .cards {
  display: flex;
}
.academics .seven-schools {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 80px;
}
.academics .seven-schools h3 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.academics .seven-schools ul {
  margin-top: 20px;
  display: flex;
}
.academics .seven-schools ul li {
  position: relative;
  padding-right: 15px;
  border-right: 2px solid rgb(0, 0, 0);
  margin-right: 15px;
}
.academics .seven-schools ul li a {
  font-size: 24px;
  color: #00548f;
}
.academics .seven-schools ul li:last-child {
  margin-right: 0;
  border-right: none;
}
.academics .seven-schools ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #00548f;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.academics .seven-schools ul li:hover::after {
  transform: scale(1);
}
.academics .button {
  margin-top: 60px;
  margin-bottom: 50px;
}

.research {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.research .research__image {
  position: relative;
}
.research .research__image .research__img {
  background-image: url("/image/20250320_Renee_Zhao-5.webp");
  height: 640px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 70px;
}
.research .research__image .research__img--hover {
  position: absolute;
  height: 100%;
  top: 0;
  left: 300px;
  color: white;
  padding-top: 100px;
  display: none;
}
.research .research__image .research__img--hover img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.research .research__image .research__img--hover h3 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 30px;
}
.research .research__image .research__img--hover h4 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 10px;
}
.research .research__image .research__img--hover p {
  font-size: 18px;
  margin-bottom: 10px;
}
.research .research__image .research__img--hover span {
  display: block;
}
.research .research__image .research__img--hover span a {
  font-size: 18px;
}
.research .research__image .research__img--hover span i {
  font-size: 11px;
  position: relative;
}
.research .research__image .research__img--hover span:hover a {
  text-decoration: underline;
}
.research .research__image .research__img--hover span:hover i {
  padding-left: 2px;
}
.research .research__image:active .research__img {
  filter: blur(15px);
}
.research .research__image:active .research__img--hover {
  display: block;
}
.research h2 {
  font-size: 55px;
  letter-spacing: -1px;
  font-weight: 700;
  margin-bottom: 10px;
}
.research p {
  font-size: 28px;
  margin-bottom: 30px;
}
.research .research__cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba(0, 0, 0, 0.463);
  border-bottom: 1px solid rgba(0, 0, 0, 0.463);
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.research .research__cards .research__card h2 {
  font-size: 35px;
  font-weight: 700;
}
.research .research__cards .research__card p {
  font-size: 23px;
}

.upcoming-events {
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 50px 30px;
  background-color: #F4F4F4;
}
.upcoming-events h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 55px;
  font-weight: bold;
}
.upcoming-events .cards {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.upcoming-events .cards .card {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  width: 22.5%;
  margin-right: 30px !important;
  box-sizing: border-box !important;
  height: 500px;
  cursor: pointer;
}
.upcoming-events .cards .card .card__image img {
  transition: all 0.5s ease;
}
.upcoming-events .cards .card .card__date {
  position: absolute;
  top: 235px;
  left: 25px;
  color: white;
  width: 75px;
  background-color: #2F2424;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.upcoming-events .cards .card .card__date p {
  font-weight: 400;
  font-size: 12px;
}
.upcoming-events .cards .card .card__date span {
  position: relative;
  left: -2px;
  font-weight: bold;
  font-size: 26px;
}
.upcoming-events .cards .card .card__info {
  padding-bottom: 50px;
}
.upcoming-events .cards .card .card__info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #820000;
}
.upcoming-events .cards .card .card__info h5 {
  font-weight: 600;
}
.upcoming-events .cards .card .card__info p {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.742);
}
.upcoming-events .cards .card:hover .card__image img {
  transform: scale(1.03);
}
.upcoming-events .cards .card:hover .card__info h5 {
  color: #00548f;
}
.upcoming-events .cards .card:last-child {
  margin-right: 0 !important;
}
.upcoming-events .cards .card:first-child .card__info {
  position: absolute;
  bottom: 55px;
}
.upcoming-events .button__group {
  margin-top: 30px;
  text-align: center;
}

.health__care {
  margin-top: 80px;
  margin: 80px 30px 50px;
}
.health__care .health__care--intro {
  text-align: center;
  margin-bottom: 50px;
}
.health__care .health__care--intro h2 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 15px;
}
.health__care .health__care--intro p {
  font-size: 28px;
  font-weight: 400;
}
.health__care .cards {
  display: flex;
  margin-bottom: 30px;
}
.health__care .cards .card__no-hover .no-hover--info span a {
  font-size: 18px;
  font-weight: 600;
}
.health__care .button__group {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
