// // bg-color:
// $bg-color-nav-footer: #002147;
// $bg-color-menu: #001833;
// $bg-color-menu-hover: #00142B;
// $bg-color-search: #1A385A;
// $bg-color-whiter: #F3F1EC;

// // color:
// $color-white: #ffffff;
// $color-whiter-2: #E0DED9;
// $color-dark-red: #be0f34;
// $color-black: #000000; 
// $color-input: #585858;

// size:
$container: 1140px;
// $border-radius: 20px;

// // fonts:
$source-code-pro: 'Source Code Pro';
$source-sans-3: 'Source Sans 3';
$source-serif-4: 'Source Serif 4 18pt';