.at-stanford {
    margin-top: 50px;
    color: black;
    text-align: center;
    padding: 0 30px;
    h2 {
        font-size: 56px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    p {
        font-size: 42px;
        font-weight: 300;
        color: lighten(#000000, 35%);
        line-height: 47px;
        margin-bottom: 50px;
    }
}

.compus-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
    position: relative;
    color: #000000;
    h2 {
        font-size: 58px;
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: -0.5px;
    }
    p {
        font-size: 30px;
        margin-bottom: 60px;
    }
    .cards {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .button {
        margin-top: 30px;
    }
}

.academics {
    margin-top: 130px;
    padding: 0 30px;
    text-align: center;
    .academic {
        text-align: center;
        h2 {
            font-size: 58px;
            font-weight: bold;
            margin-bottom: 15px;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 30px;
            margin-bottom: 60px;
        }
    }
    .cards {
        display: flex;
    }
    .seven-schools {
        @include flex;
        flex-direction: column;
        margin-top: 80px;
        h3 {
            font-size: 32px;
            font-weight: 600;
            letter-spacing: -0.5px;
        }
        ul {
            margin-top: 20px;
            display: flex;
            li {
                position: relative;
                padding-right: 15px;
                border-right: 2px solid rgb(0, 0, 0);
                margin-right: 15px;
                a {
                    font-size: 24px;
                    color: #00548f;
                }
                &:last-child {
                    margin-right: 0;
                    border-right: none;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    bottom: -8px;
                    left: 0;
                    background-color: #00548f;
                    transform: scale(0);
                    transition: transform 0.2s linear;
                }
                &:hover::after {
                    transform: scale(1);
                }
            }
        }
    }
    .button {
        margin-top: 60px;
        margin-bottom: 50px;

    }
}

.research {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // height: 100%;
    // width: 100%;
    .research__image {
        cursor: pointer;
        position: relative;
        .research__img {
            background-image: url('/image/20250320_Renee_Zhao-5.webp');
            height: 640px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 70px;
        }
        .research__img--hover {
            position: absolute;
            height: 100%;
            top: 0;
            left:300px;
            color: white;
            padding-top: 100px;
            display: none;
            img {
                    width: 200px;
                    border-radius: 50%;
                    margin-bottom: 20px;
            }
            h3 {
                    font-size: 35px;
                    font-weight: 400;
                    margin-bottom: 30px;
            }
            h4 {
                    font-size: 23px;
                    font-weight: 700;
                    margin-bottom: 10px;
            }
            p {
                    font-size: 18px;
                    margin-bottom: 10px;
            }
            span {
                    display: block;
                    a {
                        font-size: 18px;
                    }
                    i {
                        font-size: 11px;
                        position: relative;
                    }
                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                        i {
                            padding-left: 2px;
                        }
                    }
            }
        }
        &:active {
            .research__img {
                filter: blur(15px);
            }
            .research__img--hover {
                display: block;
            }
        }
    }
    h2 {
        font-size: 55px;
        letter-spacing: -1px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    p {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .research__cards {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-top: 1px solid rgba(0, 0, 0, 0.463);
        border-bottom: 1px solid rgba(0, 0, 0, 0.463);
        margin-top:50px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        .research__card {
            h2 {
                font-size: 35px;
                font-weight: 700;
            }
            p {
                font-size: 23px;
            }
        }
    }
}

.upcoming-events {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 50px 30px;
    
    background-color: #F4F4F4;
    h2 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 55px;
            font-weight: bold;
    }
    .cards {
        margin-left: 0 !important;
        margin-right: 0 !important;
        .card {
            margin-left: 0 !important;
            margin-right: 0 !important;
            position: relative;
            width: 22.5%;
            margin-right: 30px !important;
            box-sizing: border-box !important;
            height: 500px; 
            cursor: pointer;
            .card__image {
                img {
                    @include transition;
                }
            }
            .card__date {
                position: absolute;
                top: 235px;
                left: 25px;
                color: white;
                width: 75px;
                background-color: #2F2424;
                height: 75px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                p {
                    font-weight: 400;
                    font-size: 12px;
                }
                span {
                    position: relative;
                    left: -2px;
                    font-weight: bold;
                    font-size: 26px;
                }
            }
            .card__info {
                padding-bottom: 50px;
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 5px; 
                    color: #820000;
                }
                h5 {
                    font-weight: 600;
                }
                p {
                    margin-top: 15px;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.742);
                }
            }
            &:hover {
                .card__image {
                    img {
                        transform: scale(1.03);
                    }
                }
                .card__info {
                    h5 {
                        color: #00548f;
                    }
                }
            }
            &:last-child {
                margin-right: 0 !important;
            }
            &:first-child {
                .card__info {
                    position: absolute;
                    bottom: 55px;
                    
                }
            }
        }
    }
    .button__group {
        margin-top: 30px;
        text-align: center;
    }
}

.health__care {
    margin-top: 80px;
    margin: 80px 30px 50px;
    .health__care--intro {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 55px;
            font-weight: 900;
            margin-bottom: 15px;
        }
        p {
            font-size: 28px;
            font-weight: 400;
        }
    }
    .cards {
        display: flex;
        margin-bottom: 30px;
        .card__no-hover {
            .no-hover--info {
                span {
                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .button__group {
        text-align: center;
    }
}

.section--research__image {
    cursor: pointer;
    .research__image {
        position: relative;
        text-align: center;
        .research__img {
            background-image: url('/image/yannie-banner.webp');
            height: 640px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 70px;
        }
        .research__img--hover {
            position: absolute;
            height: 100%;
            top: -35px;
            left: 320px;
            color: white;
            padding-top: 100px;
            display: none;
            img {
                    width: 200px;
                    border-radius: 50%;
                    margin-bottom: 20px;
            }
            h3 {
                    font-size: 33px;
                    font-weight: 400;
                    margin-bottom: 30px;
                    line-height: 42px;
            }
            h4 {
                    font-size: 23px;
                    font-weight: 700;
                    margin-bottom: 10px;
            }
            p {
                    font-size: 18px;
                    margin-bottom: 10px;
            }
            span {
                    display: block;
                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    i {
                        font-size: 11px;
                        position: relative;
                    }
                    &:hover {
                        a {
                            text-decoration: underline;
                        }
                        i {
                            padding-left: 2px;
                        }
                    }
            }
        }
        &:active {
            .research__img {
                filter: blur(15px);
            }
            .research__img--hover {
                display: block;
            }
        }
    }
}

.campus__life {
    margin-top: 80px;
    margin: 80px 30px 50px;
    .campus__life--intro {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 55px;
            font-weight: 900;
            margin-bottom: 15px;
        }
        p {
            font-size: 28px;
            font-weight: 400;
            line-height: 42px;
        }
    }
    .cards {
        display: flex;
        margin-bottom: 30px;
        .card__no-hover {
            .no-hover--info {
                span {
                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .button__group {
        text-align: center;
    }
}

.athletics {
    margin-top: 130px !important;
    margin: 80px 30px 50px;
    .athletics__intro {
        text-align: center;
        margin-bottom: 50px;
        h2 {
            font-size: 55px;
            font-weight: 900;
            margin-bottom: 15px;
        }
        p {
            font-size: 28px;
            font-weight: 400;
            line-height: 42px;
        }
    }
    .cards {
        display: flex;
        margin-bottom: 30px;
        .card__no-hover {
            .no-hover--info {
                span {
                    a {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .button__group {
        text-align: center;
    }
}

.admission {
    padding: 0 45px 0 30px;
    margin: 150px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .admission__intro {
        text-align: center;
        h2 {
            font-size: 55px;
            font-weight: 900;
            margin-bottom: 10px;
        }
        p {
            font-size: 28px;
            line-height: 42px;
        }
    }
    img {
        margin-top: 50px;
    }
    .admission__info {
        margin-top: 40px;
        display: flex;
        margin-bottom: 50px;
        span {
            width: 50%;
            h2 {
                margin-bottom: 15px;
                font-size: 23px;
                font-weight: 600;
            }
            p {
                font-size: 18px;
                line-height: 27px;
            }
            &:first-child {
                margin-right: 70px;
            }
        }
    }
    
    .button__group {
        text-align: center;
    }
}