body {
    background-color: $color-white;
    color: $color-black;
    font-family: $source-code-pro;
    font-size: 16px;
}

.container {
    width: $container;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
    color: inherit;
}

// h1 {
//     // font-size: 45px;
// }

// input {
//     // color: $color-input;
//     // font-family: inherit;
//     // font-size: 14px;
// }